@font-face {
    font-family: 'yorktennormregular';
    src: url('fonts/yorktennormregular-webfont.woff2') format('woff2'),
    url('fonts/yorktennormregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.card {
    width: 324px;
    height: auto;
    border: 1px #e4e4e4 solid;
    background: #f5f5f5;
    margin: 0 auto
}
.card--font{
    font-family: yorktennormregular;
}
.card__header {
    display: flex;
    background: #f5f5f5;
}

.card__left {
    width: 80%;
    padding: 10px;
    line-height: 25px;
}

.card__title {
    font-weight: 700;
    font-size: 15px;
}

.card__duration {
    font-weight: 400
}

.card__right {
    display: flex;
    width: 20%;
    padding: 25px 5px 10px 20px;
}
.card__right--font{
    padding-right: 2px;
    font-weight: 700;
    font-size: 14px;
}

.card__logo {
    width: 20px;
    height: 20px;
}

.card__wrapper {
    position: relative;
}

.card__poster {
    width: 100%;

}

.card__over-layer {
    background: linear-gradient(to bottom, #0c0c0c14, #000);
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: -242px;
}

.card__btn {
    padding: 10px 50px;
    border-radius: 65px;
    text-decoration: none;
    border: 2px #bdbbbb solid;
    color: #000;
    position: absolute;
    bottom: 32px;
    right: 60px;
    left: 60px;
    width: 100px;
}

.card__btn--gray {
    background: rgb(204 204 204 / 74%);
}

.card__description {
    padding: 10px
}